@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;900&display=swap');
@import "~bootstrap/scss/bootstrap";
@import "hamburger.scss";
@import "takane-ichinose/message-box.scss";
@import "takane-ichinose/button.scss";

$main-color: #8c030e;
$text-color: #333;
$title-color: #121212;
$menu-item-color: #777;
$meta-color: #a19d9d;
$credit-color: #888;
$gray: #606060;
$subscribe-color: #fdc006;

body {
  font-family: 'Open Sans', sans-serif;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
  color: $title-color;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

a:hover {
  color: inherit;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

blockquote p {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 2px solid $main-color;
}

.logo {
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 100%;
}

#page-wrapper {
  margin-top: 80px;
}

.wrapper-fluid {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.content {
  max-width: 700px;
  width: 90%;
  margin-left: 5%;
}

@media (min-width: 768px) {
  .content {
    margin-left: 30px;
  }
  .wrapper-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 992px) {
  .content {
    margin-left: 210px;
  }
}


// NAVIGATION

#mobil-nav {
  z-index: 100;
}

#mobile-nav-dropdown {
  display: none;
}

#desktop-nav {
  width: 210px;
  padding-left: 30px;
  padding-right: 20px;
  word-wrap: break-word;
}

.menu-item {
  padding: .2em 0;
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 18px;
  font-size: 1.125rem;
}

#desktop-nav .menu-item {
  color: $menu-item-color;
}

#navMain a:hover {
  color: $main-color;
}

#navLinkSubscribe {
  color: $subscribe-color;
  font-weight: bold;
  font-size: 17px;
  font-size: 1.0625rem;
  &:hover {
    color: darken($subscribe-color, 10%);
  }
}

// END NAVIGATION

#headline a:hover,
#river a:hover {
  color: lighten($title-color, 25%);
}

@media (min-width: 768px) {
  #hm-figure {
    border-bottom: 0 !important;
  }
}

.hs-item:last-child {
  margin-bottom: 2em;
  border: none !important;
}

.meta {
  color: $meta-color;
  font-size: 13px;
}

.post-block:first-child {
  margin-top: 15px !important;
}

/* article */

#article {
  max-width: 600px;
  p {
    font-size: 19px;
    line-height: 30px;
    margin-bottom: 1.5rem;
  }
}

#article-tags li {
  margin-left: 5px;
}

.credit {
  font-size: 0.8125rem;
  line-height: 1.0625rem;
  margin: 0;
  display: inline;
  color: $credit-color;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.01em;
}

.comment-created-at {
  color: $gray;
}

// HELPER CLASSES

.cursor-pointer {
  cursor: pointer;
}

