$main-color: #333;

/* "Hide" checkbox -- moves it off screen*/
#menu-btn {
  position: absolute;
  top: -100%;
  left: -100%;
}

/* Hide hamburger for bigger screens */
.menu-icon {
  visibility: hidden;
}

@media screen and (max-width: 1100px) {
  .menu-btn {
    display: none;
  }
  .menu-icon {
    cursor: pointer;
    position: relative;
    user-select: none;
    visibility: visible;
  }
  .navicon {
    background: $main-color;
    display: block;
    height: 3px;
    width: 23px;
    position: relative;
  }
  .navicon:before {
    top: 7px;
  }
  .navicon:after {
    top: -7px;
  }
  .navicon:before,
  .navicon:after {
    background: $main-color;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    transition: all .2s ease-out;
  }
  .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  .menu-btn:checked ~ .menu-icon .navicon:before,
  .menu-btn:checked ~ .menu-icon .navicon:after {
    top: 0;
  }
}
